#one {
font-family: 'palatino', sans-serif;
font-weight: normal;
font-size: 20px;
font-stretch: expanded;
text-shadow: 2px 2px 5px white;
}

#onesub {
font-family: 'palatino';
font-weight: bold;
font-size: 20px;
font-stretch: semi-expanded;
text-shadow: 3px 2px 5px white;
}

#two {
font-family: serif, 'helvetica';
Font-weight: normal;
font-size: 20px
font-stretch: condensed;
text-shadow: 2px 2px 5px white;
}

#twosub {
font-family: sans=serif, 'garamond';
Font-weight: normal;
font-size: 22px
font-stretch: condensed;
text-shadow: 3px 2px 5px white;
}

#three {
font-family: 'courier';
font-weight: bold;
font-size: 25px;
color: black;
text-shadow: 2px 2px 5px white;
}

#threesub {
font-family: 'verdana';
font-weight: bolder;
font-size: 20px;
text-shadow: 3px 2px 5px white;
}/* CSS Document */